ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  overflow: hidden;
  background-color: #ffffff;
  margin-top: 5px;
  padding: 0;
}

li {
  float: left;
  border-style: solid;
  border-width: 0px;
  border-radius: 0px;
  border-color: rgb(255, 255, 255);
  margin-right: 10px;
  margin-left: 10px;
  border-bottom-width: 3px;
}
li:hover {
  border-bottom-color: #b44444;
}

li a {
  display: block;
  color: rgb(129, 129, 129);
  text-align: center;
  padding: 16px;
  text-decoration: none;
  font-size: 25px;
}

li a:hover {
  color: #b44444;
  text-decoration-thickness: 2px;
}

.textarea1 {
  resize: none;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: #b44444;
}
.rating {
  border: 1px solid rgb(156, 156, 156);
  border-radius: 5px;
  margin-top: 10px;
  position: relative;
  transform: translateX(100%);
  width: 400px;
  height: 150px;
  margin-top: 5%;
  background-color: rgb(214, 212, 212);
  display: block;
  text-align: center;
}

.logodiv {
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: rgb(156, 156, 156);
}
.welcome {
  margin-top: -1px;
  padding-left: 10px;
  font-family: Georgia;
}
.image {
  padding-top: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.log {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: rgb(156, 156, 156);
  width: 300px;
  height: 150px;
  margin-top: 5%;
  background-color: rgb(214, 212, 212);
  display: block;
  text-align: center;
}
.add {
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: rgb(156, 156, 156);
  position: relative;
  transform: translateX(150%);
  width: 300px;
  height: 190px;
  margin-top: 5%;
  background-color: rgb(214, 212, 212);
  display: block;
  text-align: center;
}
.search {
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: rgb(156, 156, 156);
  position: relative;
  transform: translateX(150%);
  width: 300px;
  height: 80px;
  margin-top: 5%;
  background-color: rgb(214, 212, 212);
  display: block;
  text-align: center;
}
.forma, .forma_admin {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  justify-content: center;
  margin-top: 5%;
}
label,
input {
  display: block;
}
input {
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: #b44444;
}

label {
  margin-bottom: 5px;
}
.ulogirajse {
  transform: translateX(115%);
  border-style: solid;
  border-width: 1px;
  border-color: gray;
  border-radius: 0px;
}
.ulogirajse_2 {
  transform: translateX(85%);
  border-style: solid;
  border-width: 1px;
  border-color: gray;
  border-radius: 0px;
}

.ulogirajse:hover,
.ulogirajse_2:hover,
.dodaj:hover,
.ocijeni:hover,
.find:hover,
.kupi:hover {
  color: #b44444;
  text-decoration-thickness: 2px;
}
.ocijeni {
  border-style: solid;
  border-width: 1px;
  border-color: gray;
  border-radius: 0px;
  transform: translateX(310%);
}
table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  background-color: rgb(241, 240, 240);
  padding: 5px;
}
.comm {
  color: #b44444;
  text-decoration-thickness: 2px;
}
.add {
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: rgb(156, 156, 156);
}
.kupi {
  margin-top: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: gray;
  border-radius: 0px;
}
.signup {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: rgb(156, 156, 156);
  width: 300px;
  height: 90px;
  margin-top: 2%;
  background-color: rgb(214, 212, 212);
  display: block;
  text-align: center;
}
.admin {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: rgb(156, 156, 156);
  width: 300px;
  height: 200px;
  margin-top: 2%;
  background-color: rgb(214, 212, 212);
  display: block;
  text-align: center;
}
.log_2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: rgb(156, 156, 156);
  width: 300px;
  height: 180px;
  margin-top: 5%;
  background-color: rgb(214, 212, 212);
  display: block;
  text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    padding: 10px;
    justify-content: center;
    justify-items: center;
    align-items: center;
}
.maincontainer {
    position: center;
    width: 300px;
    height: 300px;
}

.kartica {
  position: center;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  text-align: center;
  transition: all 0.5s ease;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.kartica-front, .kartica-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.kartica-front {
    background-color: #bbb;
  color: black;
}

.kartica-back {
  background-color: gray;
  color: white;
  transform: rotateY(180deg);
}

.image_quiz{
    
    padding-top: 85px;
}

.logofaks {
     padding-top: 10px;
   float: left;
   font-size: 13px;
 }

 .footer2 {
     float: left;
     font-size: 13px;
 }

 .footer {
    left: 0;
    bottom: 0;
    width: 100%;
    color: gray;
    background color: white;
 }

p.pom{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    background-color: #bbb;
  color: black;
  padding-top: 10px;
}

#next{
    border-radius: 0px;
    border-color: #b44444;
    color: #b44444;
    float: right;
    display: inline-block;
    padding: 5px 32px;
    cursor: pointer;
}

#zavrsava{
    border-radius: 0px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-color: #b44444;
    color: #b44444;
    cursor: pointer;
    text-align: center;
    font-size: 30px;
}

#gumbb{
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#upisi{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

